/* Simple black navbar with Washington Post logo */
.navbar {
background-color: #000000;
padding-left: 20px;
padding-top: -5px;
}


h1{
font-family: 'Roboto', sans-serif;
font-size: 46;
color: #2a2a2a;}

body {
font-family: 'Lora', serif;
font-size: 18;
}

.main-content {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10px;
}

/* Styling for the Washington Post section name that this article would belong to */
.section-name {
font-family: 'Roboto', sans-serif;
font-size: 16;
color: #2e6d9d;
padding-top: 20px;
}

/* Removes underlining of link */
.section-name:hover{
    text-decoration: none;
}

/* Styling for the title of the article */
.title {
padding-bottom: 20px;
}

/* Styling for the entire group of social media icons listed */
.social-media {
padding-bottom: 20px;
border-bottom: solid #eeeeee 2px;
/* margin-left: 10px; */
}

.btn-default {
margin-left: -7px;
margin-right: 4px;
}

/* Styling for each individual social media icon */
.facebook {
background-color: #3b5998;
}

.facebook:hover{
background-color: #4467b0;
}

.twitter {
background-color: #00aced;
}

.twitter:hover {
background-color: #2fb9ed;
}

.googleplus {
background-color: #dd4b39;
}

.googleplus:hover {
background-color: #dd5e4f;
}

.email {
background-color: #bd2a32;
}

.email:hover{
background-color: #bd474e;
}

.extra {
background-color: #b3b3b3;
}

.extra:hover {
background-color: #c6c6c6;
}

/* Styling for the font-awesome icons used in social media icon group */
.soc-color{
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
color: #FFF;
}

.byline {
font-family: 'Roboto', sans-serif;
font-size: 16;
color: #2e2e2e;
padding-top: 20px;
padding-bottom: 10px;
/* margin-left: 10px; */
}

.author {
color: #2e6d9d;
}

.author:hover{
    text-decoration: none;
}

.article-date {
color: #b3b3b3;
font-family: Arial;
margin-left: 5px;
margin-right: 5px;
}


.email-author {
color: #2e6d9d;
}

.intro {
border-bottom: solid #eeeeee 2px;
}

.chart-titles {
font-family: 'Roboto', sans-serif;
}

.analysis {
font-family: 'Roboto', sans-serif;
font-size: 25;
color: darkslategray;
border-bottom: solid #eeeeee 2px;
padding-left: 2%;
padding-right: 2%;
}

.highlight {
font-family: 'Roboto', sans-serif;
font-size: 35;
color: #dc4247;
}

.visibility {
padding-top: 10px;
border-top: solid #eeeeee 2px;
}

.geography, .money, .dataset{
padding-top: 5px;
border-bottom: solid #eeeeee 2px;
padding-bottom: 5px;
}

#icon {
color: #dc4247;
margin-left: 10px;
}

.table_id {
padding-top: 20px;
}

footer {
font-size: 13px;
float: right;
padding-top: 40px;
padding-bottom: 20px;
}

@media screen and (min-width:1000px){
.intro {
border-bottom: none;
}
.left-chart {
border-right: solid #eeeeee 2px;
}

.analysis {
padding-bottom: 25px;
}

.geography, .money, .dataset{
padding-top: 20px;
padding-bottom: 20px;
}

.pie-chart, .visibility {
border-bottom: none;
border-top: none;
}
}